.logo {
  width: 320px;
  height: 60px;
  margin-top: -10px;
}

@media screen and (max-width: 768px) {
  .logo {
    width: 120px;
    height: 21px;
  }
}

@media screen and (min-width: 768px) {
  .logo {
    width: 200px;
    height: 38px;
  }
}
